* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$color-bg: #999;
$color-bg-accent: #444;
$color-nav-hover: #555;
$color-font-nav: #aaa;
$color-font-nav-accent: #569daa;
$color-font: #111;
$color-font-accent: #87cbb9;
$color-font-hover: black;

body {
  background-color: $color-bg;
  color: $color-font;
  font-family: sans-serif;

  h1 {
    color: $color-font-accent;
    margin-bottom: 1rem;
  }

  nav {
    padding: 2rem;
    margin-bottom: 1rem;
    background-color: $color-bg-accent;
    padding: 1rem;
    ul {
      display: flex;
      justify-content: center;
      list-style-type: none;
      gap: 1rem;
      li {
        a {
          color: $color-font-nav;
          text-decoration: none;
          &:hover {
            // background-color: $color-nav-hover;
            color: $color-font-hover;
          }
          &.active {
            color: $color-font-accent;
          }
        }
      }
    }
  }
}
